[Unit]
Description=SuSEfirewall2 phase 1
Before=network.service
Before=basic.target
DefaultDependencies=false
Requires=sysinit.target
Conflicts=firewalld.service

[Service]
ExecStart=/usr/sbin/SuSEfirewall2 boot_init
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
Also=SuSEfirewall2.service

